html, body {
    height: 100%;
}

div.page {
    min-height: 100%;
}

div.page-footer {
    border-top: 20px double #DDD;
    margin-top: 50px;
    padding-top: 50px;
}

div.page-footer a {
    color: #a7bfd2; /* background color */
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
       
}
    
@media (min-width: 1200px) {
      
}