div.page {
    min-height: 100%;
}

div.page-footer {
    border-top: 20px double #DDD;
    margin-top: 50px;
    padding-top: 50px;
}

html {
    width: 100%;    
    height: 100%;
    overflow: hidden;
    left: 0px;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    min-height: 100%;
}

#map {
    position: relative;
    width:1000px;
    height: 425px;
    left: 0px;
}

div.page-footer a {
    color: #a7bfd2; /* background color */
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
       
}
    
@media (min-width: 1200px) {
      
}